<%- include('../includes/head.ejs') %>
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">
        <h2><%= product.title %></h2>
        <hr>
        <p><%= product.imageUrl %></p>
        <h3><%= product.price %></h3>
        <p><%= product.description %></p>
        <%- include('../includes/add-to-cart.ejs') %>
    </main>
    <%- include('../includes/end.ejs') %>
